<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.nuga.thelabel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionbar">
        </activity>

        <activity android:name=".IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MemberListActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".RecorderActivity"></activity>
        <activity android:name=".OtherUserActivity" />
        <activity android:name=".OtherLabelActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".PasswordSettingActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity android:name=".PushAlramSettingActivity"
            android:theme="@style/AppTheme.NoActionbar"/>
        <activity android:name=".EntrustLeaderActivity" />
        <activity android:name=".FireMemberActivity"></activity>
    </application>

</manifest>