<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.nuga.thelabel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- gcm -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="team.nuga.thelabel.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="team.nuga.thelabel.permission.C2D_MESSAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <manifest package="jp.wasabeef.glide.transformations" />
    <manifest package="com.yqritc.recyclerviewmultipleviewtypesadapter" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="team.nuga.thelabel" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.myTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemberListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtherUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".OtherLabelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PasswordSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".PushAlramSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name=".EntrustLeaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FireMemberActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UploadActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionbar"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".SignUpEditActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".youtube.PlayerViewDemoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".youtube.FragmentDemoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".LabelMakeActivity" />
        <activity android:name=".LabelSettingActivity" />
        <activity
            android:name=".TestLoginActivity"
            android:label="TheLabel" />
        <activity android:name=".MusicListActivity" />
        <activity android:name=".youtube.JoinReqeustManageActivity" />
        <activity android:name=".TestActivity"
            android:exported="true"/>
    </application>

</manifest>